section.landingpage-form-3#section5
	article.container.info
		.row
			.col
				h3.h3 Form đăng ký mở thẻ:
				p.mb-4 Vietcradit, thẻ tín dụng sinh viên. Giải phải tài chính ưu việt dành cho sinh viên

				form.validator
					.row
						.col-md-12.col-lg-6
							.form-group
								input#name.form-control(type='text', placeholder='Họ và tên (*)', data-error="Vui lòng nhập thông tin", required)
							.form-group
								input#Email.form-control(type='text', placeholder='Email', data-error="Vui lòng nhập thông tin", pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required)
							.form-group
								input#Phone.form-control(type='text', placeholder='Số điện thoại', data-error="Vui lòng nhập thông tin", pattern="^[_A-z0-9]{1,}$", required)
							.form-group
								input#sec.form-control(type='text', placeholder='Sinh viên trường- năm học', data-error="Vui lòng nhập thông tin", required)

						.col-md-12.col-lg-6
							.form-group
								input#Address.form-control(type='text', placeholder='Địa chỉ')
							.form-group
								textarea#sms.form-control(placeholder='Ghi chú', name="sms", cols="30", rows="5")
		.row
			.col
				.form-group.text-center
					button.btn.btn-outline-primary.text-uppercase(type="submit")
						| Đăng ký
