section.landingpage-slider-1.relative#section1(bg-img="..//img/vietcd/banner-1.png")
	.overlay.overlay-bg
	.container
		.row.fullscreen.align-items-center.justify-content-center.owl-carousel
			.active-banner-carousel
				.banner-content.col-lg-12.col-md-12
					h1 VietCredit 
						| mọi vấn đề đều của bạn có thể giải quyết
			.active-banner-carousel
				.banner-content.col-lg-12.col-md-12
					h1 VietCredit 
						| mọi vấn đề đều của bạn có thể giải quyết
