section.landingpage-slider-1.relative
	.overlay.overlay-bg
	.container
		.row.fullscreen.align-items-center.justify-content-center
			.active-banner-carousel
				.banner-content.col-lg-12.col-md-12
					h1 VietCredit
						span cho vay sinh vien