section.landingpage-slider-1.relative(bg-img="..//img/vietcd/bg-1.jpg")
	.overlay.overlay-bg
	.container
		.row.fullscreen.align-items-center.justify-content-center.owl-carousel
			.active-banner-carousel
				.banner-content.col-lg-12.col-md-12
					h1 Enjoy Holidays 
						| with affordable Hotels
			.active-banner-carousel
				.banner-content.col-lg-12.col-md-12
					h1 Enjoy Holidays 
						| with affordable Hotels
