section.landingpage-boxes-1
	article.container
		.row.no-gutters.boxes-details
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col.text-center
						.row
							.col
								i.mdi.mdi-basket-fill
						h3 Tôi được gì khi mở thẻ Vietcredit này?
						p Có ngay 5 triệu đồng vào tài khoản rút tiền mặt với lãi suất ưu đãi dành riêng cho sinh viên chưa đến 0.1% ( Vay 1 triệu lãi suất 1 ngày là 1.000 - 1 nghìn đồng). 
						p Tặng tiền mặt 100.000 Đ trong tài khoản ngay khi mở thẻ thành công.
						p Nhận ngay 1 bình Clock & Clock hoặc 1 áo thun cao cấp khi đăng ký mở thẻ.
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col.text-center
						.row
							.col
								i.mdi.mdi-comment-text-outline
						h3 Vì sao tôi phải mở thẻ vay Vietcredit?
						p Thẻ Vay Vietcredit mang đến cho bạn giải pháp tài chính chi phí rẻ nhất trên thị trường hiện nay, bạn sẽ hoàn toàn yên tâm khi có một số tiền dự trữ trong tài khoản mỗi khi cần trang trải mà không phải đi mượn ba mẹ hay bạn bé (học phí, tiền trọ, tiền ăn, tiền tiêu dùng...).
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col.text-center
						.row
							.col
								i.mdi.mdi-close-circle-outline
						h3 Mở Thẻ này tôi có tốn chi phí gì không?
						p Với phương châm hỗ trợ sinh viên, Bạn sẽ không tốn bất kỳ một chi phí gì khi mở thẻ.
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col.text-center
						.row
							.col
								i.mdi.mdi-coin
						h3 Tôi mở thẻ nhưng không sử dụng thì có bị tính lãi suất không?
						p Bạn có 5 triệu đồng trong tài khoản, bạn rút ra bao nhiêu thì mới tính lãi suất bấy nhiêu và lãi suất theo ngày, bạn có thể trả lại dễ dàng mà không mất phí tất toán như khi đi vay.
						p VD: Sinh viên A mở thẻ VietCredit từ ngày 01/09 đến Ngày 06/10 bạn A rút từ tài khoản 3 triệu đồng để chi tiêu, đến ngày 10/10 bạn muốn hoàn trả lại. Tổng số tiền bạn A cần phải trả là: 3.000.000 Đ (tiền gốc) + 12.000 Đ (tiền lãi) = 3.012.000
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col.text-center
						.row
							.col
								i.mdi.mdi-printer
						h3 Tôi thanh toán tiền ở đâu?
						p Bạn có thể ra bất kỳ siêu thị tiền lợi nào để hoàn tiền vào TK của bạn tại VietCredit ( Vinmart, Circle K, CityMart...)
			.item.col-md-6.col-lg-4
				.row.no-gutters
					.col.text-center
						.row
							.col
								i.mdi.mdi-clipboard-account
						h3 Điều kiện mở thẻ là gì?
						p Bạn phải là sinh viên đang trong quá trình học tại các Trường Đại Học, Cao Đẳng và Trung Cấp trong KV. HCM, có CMND, Bảng Điểm (user, pass để đăng nhập vào xem điểm tại web Trường) và Thẻ Sinh Viên
