section.landingpage-boxes-2#section4
	article.news-hot
		.container
			h2.h2-text "Làm sao tôi có thể vay vốn sinh viên?"
			.row
				.col-lg-3.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/vietcd/dk-1.jpg")
							figcaption
								.text
									h3 Điều kiện tất yếu nhất
									p Bạn phải là sinh viên đang trong quá trình học tại các Trường Đại Học , Cao Đẳng và Trung Cấp trong KV. HCM, có CMND, Bảng Điểm ( user, pass để đăng nhập vào xem điểm tại web Trường) và Thẻ Sinh Viên.
				.col-lg-3.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/vietcd/dk-3.jpg")
							figcaption
								.text
									
									h3 Đã là công nhân thì phải có chứng minh thư 
									p dựa vào chứng minh thư, các bạn sẽan tâm hơn khi vay mượn vốn tại VietCredit
				.col-lg-3.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/vietcd/dk-2.jpg")
							figcaption
								.text
									
									h3 Đã là sinh viên thì phải có bản điểm
									p Thì bản điểm có "phủ phàng" với các bạn đến mức nào đi chăng nữa thì chúng tôi vẫn ở bên bạn và ở bên bạn, đồng hành cùng các bạn
 			
				.col-lg-3.box-all
					a.item(href="#")
						figure
							.img.d-flex.align-items-center.item-child(bg-img="./img/vietcd/dk-4.jpg")
							figcaption
								.text
									
									h3 Và đừng quên thẻ sinh viên nhé!
									p Và cuối cùng là thẻ sinh viên hiện tại bạn đang "tu luyện" tại ngôi trường đó để chúng tôi không còn nghi ngờ gì nữa, bạn là sinh viên
			