section.landingpage-boxes-2
	.container
		.row.d-flex.justify-content-center
			.col-md-8.pb-80.header-text
				h1 Superb Facilities
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| labore  et dolore magna aliqua.
		.row
			.col-lg-3.col-md-3.single-service
				.content
					.content-overlay.fadeIn-bottom
					img.content-image.img-fluid.d-block.mx-auto(src='img/vietcd/f1.jpg', alt='')
					
					.content-details
						h3.content-title Vietcredit lorem
			.col-lg-3.col-md-3.single-service
				.content
					.content-overlay.fadeIn-bottom
					img.content-image.img-fluid.d-block.mx-auto(src='img/vietcd/f2.jpg', alt='')
					.content-details
						h3.content-title Vietcredit lorem
			.col-lg-3.col-md-3.single-service
				.content
					.content-overlay.fadeIn-bottom
					img.content-image.img-fluid.d-block.mx-auto(src='img/vietcd/f3.jpg', alt='')
					.content-details
						h3.content-title Vietcredit lorem
			.col-lg-3.col-md-3.single-service
				.content
					.content-overlay.fadeIn-bottom
					img.content-image.img-fluid.d-block.mx-auto(src='img/vietcd/f3.jpg', alt='')
					.content-details
						h3.content-title Vietcredit lorem