section.landingpage-boxes-8#section2
	.container-fluid
		.row
			.col-lg-6.col-md-12.about-left.no-padding
				img.img-fluid(src='img/vietcd/about-img.jpg', alt='')
			.col-lg-6.col-md-12.about-right
				h1.mb-3 Giới thiệu về thẻ tín dụng
					| VietCredit
				p Bạn là sinh vin, bạn đang cần tiền để đóng học phí, đóng tiền nhà, tiền học thêm, mua sắm, shopping, hay đơn giản là cần một khoảng tiền cho kế hoạch du lịch vui chơi sắp tới. Nhưng lương tháng thì chưa lãnh, tiền nhà ba me chưa gửi lên,… Mở nay thẻ tín dụng sinh viên vietcredit để có thể thực hiện ngay những ý tưởng của mình
