section.landingpage-boxes-8
	.container-fluid
		.row
			.col-lg-6.col-md-12.about-left.no-padding
				img.img-fluid(src='img/vietcd/about-img.jpg', alt='')
			.col-lg-6.col-md-12.about-right
				h1.mb-3 Giới thiệu về thẻ tín dụng
					| VietCredit
				p CTY TNHH Tư Vấn Đầu Tư TSUS với chức năng chính là đào tạo và cung ứng nhân sự cho các Doanh Nghiệp có trụ sở trong Khu Vực Thành Phồ Hồ Chí Minh, cung cấp các sản phẩm tài chính hỗ trợ sinh hoạt cho sinh viên... Đi vào hoạt động từ tháng 10/2015,với sứ mạng là cầu nối giữa Doanh Nghiệp và Nhà Trường, góp phần vào việc hỗ trợ việc làm chất lượng cho đối tượng sinh viên của các Trường Đại Học/ Cao Đẳng, đến nay TSUS đã liên kết thành công với nhiều trường Đại Học trong Khu Vực TPHCM như  Đại Học Văn Hiến, Đại Học Công Nghiệp, Đại Học FPT, Đại Học Nông lâm, Đại Học Nguyễn Tất Thành,… Hỗ trợ việc làm cho hàng trăm trường hợp sinh viên ngay từ khi còn học năm cuối.Với bề dày kinh nghiệm trong lĩnh vưc cung ứng nhân sự, các gói sản phẩm tài chính sinh viên cũng như mạng lưới liên kết các Doanh Nghiệp rộng khắp, TSUS tự tin mang đến cho Quý Nhà Trường một giải pháp tài chính hỗ trợ sinh hoạt và học tập cho các bạn sinh viên một cách hiệu quả nhất.Hiện nay, CTY TSUS kết hợp cùng CTY TÀI CHÍNH VIETCREDIT  triển khai “Gói tài chính dự phòng” nhằm hỗ trợ tài chính cho sinh viên thuộc các Trường Đại Học, Cao Đẳng và Trung Cấp trong KV TP.HCM để trang trải tiền học phí và chi phí sinh hoạt.
